<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="gpsanalyzer" type="ConfigSectionHandler, GpsAnalyzer" />
    <section name="defaultclientconf" type="ConfigSectionHandler, HttpClient" />
  </configSections>
  <gpsanalyzer>
    <!--编码方式：ASCII，BigEndianUnicode，Unicode，UTF32，UTF7，UTF8-->
    <encoding value="ASCII" />
  </gpsanalyzer>
  <defaultclientconf>
    <conf>
      <name value="defaultclientconf" />
      <serverip value="localhost:4221/" />
      <apiuri value="api" />
    </conf>
  </defaultclientconf>
  <appSettings>
    <clear />
    <add key="defaultuseragent" value="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; SV1; .NET CLR 1.1.4322; .NET CLR 2.0.50727; .NET CLR 4.0.30319)" />
    <!--本地网络数据报接收端口-->
    <add key="gpsport" value="65530" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>